@font-face {
    font-family: 'komika_displayregular';
    src: url('Komika_display-webfont.eot');
    src: url('Komika_display-webfont.eot?#iefix') format('embedded-opentype'),
         url('Komika_display-webfont.woff') format('woff'),
         url('Komika_display-webfont.ttf') format('truetype'),
         url('Komika_display-webfont.svg#komika_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
