<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module is="app-loading">
  <style>
  :host .app-loading-main, .app-loading-screen {
    opacity: 0;
    transition: opacity 1500ms;
  }
  :host .app-loading-screen {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 100;
  }
  </style>
  <template>
    <div class="app-loading-screen">
      <img src="../styles/sunny.svg">
    </div>
    <div class="app-loading-main">
      <content select="template"></content>
    </div>
  </template>
  <script>
    Polymer({
      is: "app-loading",
      listeners: {
        "ready": "handleReady",
        "load": "handleReady",
      },
      ready: function() {
        this.main = this.querySelector(".app-loading-main");
        this.template = this.querySelector(".app-loading-main template");

        var node = document.importNode(this.template.content, true);
        this.count = 0;
        [].forEach.call(node.childNodes, function(el) {
          if (el.tagName === "LINK") {
            el.onload = this.handleReady.bind(this);
            this.count += 1;
          }
        }.bind(this));
        this.main.appendChild(node);
      },
      handleReady: function(e) {
        this.count -= 1;
        if (this.count <= 0) {
          this.show();
        }
      },
      show: function() {
        requestAnimationFrame(function() {
          this.querySelector(".app-loading-main").style.opacity = 1;

          var screen = this.querySelector(".app-loading-screen");
          screen.style.opacity = 0;

          setTimeout(function() {
            screen.parentNode.removeChild(screen);
          }, 1500);
        }.bind(this));
      }
    })
  </script>
</dom-module>
