<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<dom-module id="leitjohn-app">
  <style>
    :host {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
    }
    :host ::content [data-url][data-active=true] {
      transform: translate3d(0, 0, 0);
      z-index: 1;
    }
    :host ::content [data-url][data-deactivating=true] {
      transform: translate3d(-100%, 0, 0);
    }
    :host ::content [data-url] {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transition: all 300ms;
      transform: translate3d(100%, 0, 0);
    }
    :host ::content [data-active=false] {
      transition: none;
    }
  </style>

  <template>
    <app-location route="{{route}}" use-hash-as-path></app-location>

    <content></content>
  </template>
  <script>
    Polymer({
      is: "leitjohn-app",
      properties: {
        route: {
          type: Object,
          notify: true,
          observer: "handleRouteChanged"
        },
        active: {
          type: Object,
          notify: true
        }
      },
      attached: function() {
        this._isReady = true;
        requestAnimationFrame(function() {
          this.handleRouteChanged()
        }.bind(this));
      },
      handleRouteChanged: function() {
        if (this._isReady) {
          // close the drawer
          requestAnimationFrame(function() {
            [].forEach.call(
              document.querySelectorAll("paper-drawer-panel"),
              function(el) {
                try {
                  el.closeDrawer();
                } catch(ex) {
                  console.error("drawer isn't ready");
                  el.addEventListener("ready", function() {
                    console.log("ready?", el);
                  });
                }
              }
            );
          });

          var routes = this.querySelectorAll("[data-url]");
          var route = this.route.path;
          var found = false;

          console.log("routing", routes);
          [].forEach.call(routes, function(el) {
            var pattern = el.getAttribute("data-url");
            var kwargs = /(:[^/]+)/.exec(pattern);
            if (kwargs) {
              kwargs = kwargs.slice(1);
            } else {
              kwargs = [];
            }
            kwargs.forEach(function(kwarg) {
              pattern = pattern.replace(kwarg, "([^/]+)");
            });
            var match = new RegExp("^" + pattern + "$").exec(this.route.path);
            if (match) {
              var args = {};
              kwargs.forEach(function(kwarg, i) {
                args[kwarg.slice(1)] = match[i + 1];
              });

              console.log("found match", el);
              el.dispatchEvent(new CustomEvent("app:activate", {detail: args}));
              el.setAttribute("data-active", true);
              found = true;
            } else {

              var active = el.getAttribute("data-active");
              if (active) {
                el.setAttribute("data-deactivating", true);
                setTimeout(function() {
                  el.setAttribute("data-active", false);
                  el.setAttribute("data-deactivating", false);
                }, 300);
              }
            }
          }.bind(this));

          // fallback in case none were found
          if (! found) {
            console.error("failed to find route for:", route);
            location.hash = "";
          }
        }
      }
    });
  </script>
</dom-module>
