<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module is="rest-collection">
  <script>
    Polymer({
      is: "rest-collection",
      properties: {
        url: {
          type: String
        },
        key: {
          type: String
        },
        data: {
          type: Object,
          observer: "handleDataChanged",
          notify: true
        },
        cache: {
          type: Boolean,
          value: true
        },
        fallback: {
          type: Object,
          observer: "handleFallbackChanged",
          notify: true,
        }
      },
      handleFallbackChanged: function() {
        if (this._triedResume && ! this.data) {
          this.data = this.fallback;
        }
      },
      handleDataChanged: function() {
        // console.log("data is changed", typeof this.data);
      },
      ready: function() {
        if (this.cache) {
          this.resume();
        }
        this.request();
      },
      resume: function() {
        var stored = localStorage[this.key];
        if (stored) {
          try {
            this.data = JSON.parse(stored);
          } catch(ex) {
            this.data = this.fallback;
          }
        } else {
          this.data = this.fallback;
        }
        this._triedResume = true;
      },
      request: function() {
        console.log("requesting");
        var request = new XMLHttpRequest();
        request.open('GET', this.url, true);
        request.onload = function() {
          if (request.status >= 200 && request.status < 400) {
            if (this.cache) {
              localStorage[this.key] = request.responseText;
            }
            console.log("got new data");
            this.data = JSON.parse(request.responseText);
          } else {
            // We reached our target server, but it returned an error
            if (! this.data) {
              console.log("fallback code");
              this.data = this.fallback;
            }
          }
        }.bind(this);
        request.onerror = function() {
          // There was a connection error of some sort
          console.log("fallback error", this.data, this.fallback)
          if (! this.data) {
            this.data = this.fallback;
          }
        }.bind(this);
        request.send();
      },
      clear: function() {
        delete localStorage[this.key];
        this.data = null;
      },
      get: function(id) {
        var retval = null;
        if (this.data) {
          this.data.forEach(function(r) {
            if (this.data.id == id) {
              retval = r;
            }
          })
        }
        return retval;
      }
    })
  </script>
</dom-module>
