<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module is="rest-listener">
  <script>
    Polymer({
      is: "rest-listener",
      properties: {
        selector: {
          type: String
        },
        idProp: {
          type: String,
          value: "objectId",
        },
        dataProp: {
          type: String,
          value: "data",
          notify: true
        }
      },
      ready: function() {
        this.parentElement.addEventListener("data-changed", function() {
          this.update();
        }.bind(this));
        if (this.parentElement.data) {
          this.update();
        }
      },
      getElement: function() {
        return document.querySelector(this.selector);
      },
      update: function() {
        // TODO: detect if element is ready
        // console.log("data updated", this.dataProp, this.getElement());
        this.getElement()[this.dataProp] = this.parentElement.data;
      }
    })
  </script>
</dom-module>
