<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<dom-module is="story-detail">
  <style>
  :host {
    display: block;
  }
  paper-button {
    background: white;
  }
  :host .app-loading-screen {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 100;
    background: white;
  }
  </style>
  <template>
    <div class="app-loading-screen">
      <img src="../styles/sunny.svg">
    </div>
    <story-container id="story"></story-container>
  </template>
  <script>
    Polymer({
      is: "story-detail",
      listeners: {
        "story:finished": "handleFinished",
        "app:activate": "handleActivate"
      },
      ready: function() {
        var screen = this.querySelector(".app-loading-screen");
        screen.style.display = "flex";
      },
      handleFinished: function() {
        console.log("finished");
        location.hash = "/story/end/" + this.args.id;
      },
      handleActivate: function(e) {
        this.args = e.detail;
        var story = this.querySelector("#story");
        try {
          var json = JSON.parse(localStorage["story_" + e.detail.id]);
          var handler = this.handleAssetLoaded.bind(this);
          this.count = json.media.length;
          this.alreadyLoaded = false;
          this.json = json;

          if (json.media.length > 0) {
            json.media.forEach(function(url) {
              var img = new Image();
              img.onload = handler;
              img.onerror = handler;
              img.src = url;
            }.bind(this));
          } else {
            this.handleAllAssetsLoaded();
          }

          // load anyway if it takes too long
          this.__timeout = setTimeout(function() {
            this.handleAllAssetsLoaded();
          }.bind(this), 10000);

        } catch(ex) {
          console.log(ex.stack);
          console.error(ex);
          location.hash = "";
        }
      },
      handleAssetLoaded: function() {
        this.count -= 1;
        if (this.count <= 0) {
          this.handleAllAssetsLoaded();
        }
      },
      handleAllAssetsLoaded: function() {
        clearTimeout(this.__timeout);
        if (! this.alreadyLoaded) {
          this.alreadyLoaded = true;
          var story = this.querySelector("#story");
          story.loadJson(this.json);

          var screen = this.querySelector(".app-loading-screen");
          screen.style.display = "none";
        }
      }
    })
  </script>
</dom-module>
