<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module is="story-end">
  <style>
  :host {
    display: block;
  }
  :host .the-end {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    font-style: italic;
    color: grey;
  }
  paper-button {
    background: white;
  }
  </style>
  <template>
    <p class="the-end">The End</p>
    <div class="text-center">
      <paper-button class="restartBtn">Restart</paper-button>
      <paper-button class="returnBtn">Return to story list</paper-button>
    </div>
  </template>
  <script>
    Polymer({
      is: "story-end",
      listeners: {
        "click": "handleButton",
        "app:activate": "handleActivate"
      },
      handleActivate: function(e) {
        console.log("end", e.detail);
        this.args = e.detail;
      },
      handleButton: function(e) {
        if (e.target.matches(".restartBtn")) {
          var story = document.querySelector("#story");

          // might be resuming to this page
          if (! story.scenes) {
            try {
              var json = JSON.parse(localStorage["story_" + this.args.id]);
              story.loadJson(json);
            } catch(ex) {
              location.hash = "";
            }
          }
          if (story.scenes) {
            story.restart();
          }
          location.hash = "/story/read/" + this.args.id;
        } else if (e.target.matches(".returnBtn")) {
          location.hash = "";
        }
      }
    })
  </script>
</dom-module>
