<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<dom-module is="story-list">
  <style>
  :host ::content {
    display: block;
    overflow-y: auto;
    background: #b6e3f2;
  }
  :host paper-card {
    background: white;
    border: 1px solid grey;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 15px;
    display: block;
    --paper-card-header-text: {
      text-align: center;
    }
  }
  :host app-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 1px 3px black;
  }
  .padded {
    margin-top: 5em;
    padding: 1em;
  }
  .splash-image {
    margin: auto;
    display: block;
    min-height: 175px;
    min-width: 175px;
    max-height: 300px;
    max-width: 300px;
    margin-top: -32px;
    margin-bottom: 5px;
    background-size: cover;
  }
  </style>
  <template>
    <app-toolbar>
      <div title>Choose a story below:</div>
      <iron-icon icon="icons:refresh" class="refresh-btn"></iron-icon>
    </app-toolbar>
    <div class="padded">
      <template is="dom-repeat" items="{{storyList}}">
        <paper-card heading="[[item.meta.name]]">
          <div class="card-content">
            <div class="splash-image" style$="[[ splashForIndex(index) ]]"></div>
            [[item.meta.short_description]]
          </div>
          <div class="card-actions">
            <paper-button id="read" data-story="[[item]]">Read</paper-button>
            <!-- <paper-button>Share</paper-button> -->
          </div>
        </paper-card>
      </template>
      </iron-list>
    </div>
  </template>
  <script>
    Polymer({
      is: "story-list",
      properties: {
        storyList: {
          type: Array,
          observer: "handleStoriesChanged",
          notify: true
        },
        dataActive: {
          type: String,
          observer: "handleActiveChanged"
        }
      },
      listeners: {
        "click": "handleRefresh"
      },
      ready: function() {
        localStorage.story = null;
        this.addEventListener("click", function(e) {
          if (e.target.matches("paper-button#read")) {
            var id = e.target.dataStory.id
            localStorage['story_' + id] = JSON.stringify(e.target.dataStory);
            document.location.hash = "/story/read/" + id;
          }
        });
      },
      splashForIndex: function(i) {
        var image = this.storyList[i].meta.splash;
        if (image) {
          return "background-image: url(" + image + ")";
        }
        return "display: none;";
      },
      handleStoriesChanged: function() {
        // console.log("stories");
      },
      handleActiveChanged: function() {
        Array.prototype.forEach.call(
          document.querySelectorAll("paper-drawer-panel"),
          function(el) {
            el.disableSwipe = this.dataActive == "true";
          }.bind(this)
        );
      },
      handleRefresh: function(e) {
        if (e.target.matches(".refresh-btn")) {
          e.preventDefault();
          document.querySelector("rest-collection").request();
        }
      }
    })
  </script>
</dom-module>
