@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

@import url('https://fonts.googleapis.com/css?family=Merienda');


* {
  font-family: 'Merienda', cursive;
}

.flex-spacer {
  flex: 100 100 auto;
  flex-grow:
}