@font-face {
    font-family: 'komika_textregular';
    src: url('KOMTXT__-webfont.ttf') format('truetype'),
         url('KOMTXT__-webfont.svg#komika_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
