
body {
  padding: 0;
  margin: 0;
}
story-container {
  margin: auto;
  width: 100%;
  height: 100vh;
  font-family: 'komika_textregular';
}

/* normal narration */
story-container p {
  font-size: 20px;
  margin-bottom: 5em;
}
story-container p {
  border: 2px solid darkgrey;
  background: #ebedc7;
  padding: 5px;
}

/* image paragraphs */
story-container p.plain {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

/* quotes */
story-container blockquote {
  border-radius: 15px;
  border: 3px solid darkgrey;
  position: relative;
  min-height: 45px;
  max-width: 55%;
  margin-left: 5%;
  float: left;
  background: white;
}
story-container blockquote p {
  margin: 0;
  padding: 0;
}
story-container blockquote.left {
  margin-left: 5%;
  float: left;
}
story-container blockquote.right {
  margin-right: 5%;
  float: right;
}
story-container blockquote:before, story-container blockquote:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}
story-container blockquote.left:before {
  left: -20px;
  top: 25%;
  border: 10px solid;
  z-index: 2;
  border-color: transparent white transparent transparent;
  margin-left: 1px;
}
story-container blockquote.left:after {
  left: -30px;
  top: 25%;
  top: calc(25% - 4px);
  border: 15px solid;
  border-color: transparent darkgrey transparent transparent;
}
story-container blockquote.right:before {
  right: -20px;
  top: 25%;
  border: 10px solid;
  z-index: 2;
  border-color: transparent transparent transparent white;
}
story-container blockquote.right:after {
  right: -30px;
  top: 25%;
  top: calc(25% - 4px);
  border: 15px solid;
  border-color: transparent transparent transparent darkgrey;
}

/* thought bubbles */
story-container blockquote.thought:before,
story-container blockquote.thought:after {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  border: 3px solid darkgrey;
  background: white;
}
story-container blockquote.thought.left:before {
  left: -20px;
  top: 20%;
  width: 30px;
  height: 30px;
}
story-container blockquote.thought.left:after {
  left: -30px;
  top: 25%;
  width: 15px;
  height: 15px;
}
story-container blockquote.thought.right:before {
  right: -20px;
  top: 20%;
  width: 30px;
  height: 30px;
}
story-container blockquote.thought.right:after {
  right: -30px;
  top: 25%;
  width: 15px;
  height: 15px;
}

story-container img {
  max-height: 100vmin;
  max-width: 35%;
  float: left;
}
story-container p.left {
  max-width: 55%;
  margin-left: 5%;
  float: left;
}
story-container p.right {
  max-width: 55%;
  margin-right: 5%;
  float: right;
}
story-container img.left {
  float: left;
}
story-container img.right {
  float: right;
}
#drawer {
  position: relative;
  z-index: 10;
}
.options {
  margin-top: 1em;
}
.options paper-button {
  display: block;
}
#restartBtn {
  position: absolute;
  bottom: 1em;
  color: white;
  background: darkred;
}
