<style>
  #choose-story {
    background: #999999 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaElEQVQoU12PUQ2AQAxD32SADZCBDmwQbKADGWADZBwpbMvCfW1Z+9ozYABOvrcAG3D73swHiSZg9b0DLsBCIOdeSA3oRZJAx3CKdMgZJA3CZSYw1k6pjMx/pxBkZvnN20kCHStprp0eilwX06rvVloAAAAASUVORK5CYII=);
    min-height: 100vh;
  }
  #choose-story h2 {
    background: lightgoldenrodyellow;
    border-bottom: 4px solid gold;
    padding: 15px;
    margin: 0;
    margin-bottom: 15px;
  }
  .story-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .story-card {
    background: white;
    border: 1px solid grey;
    box-shadow: 0 1px 3px black;
    margin: 1em;
    padding: 1em;
    flex: 1 1 300px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
  }
  .story-card .name {
    position: relative;
    font-size: 25px;
    padding: 10px;
    background: gold;
    margin: -15px;
    padding: 15px;
    z-index: 2;
    border-bottom: 2px solid darkgoldenrod;
  }
  .splash-image {
    min-height: 225px;
    background-size: cover;
    background-position: center;
  }
  .card-description {
    padding: 10px 0;
    font-size: 20px;
  }
  .card-actions {
    display: flex;
    flex-direction: column;
    flex: 1 2 auto;
    text-align: right;
    vertical-align: bottom;
  }
  .card-actions button {
    font-size: 20px;
  }
</style>

<template>
  <div id="choose-story">
    <h2>Choose a story below:</h2>
    <div class="story-cards">
      <div class="story-card" v-for="story in stories">
        <div class="name">{{ story.meta.name }}</div>
        <div class="card-content" v-if="story.meta.splash">
          <div class="splash-image" :style="{backgroundImage: 'url(' + story.meta.splash + ')'}"></div>
        </div>
        <div class="card-description">{{ story.meta.short_description }}</div>
        <div class="card-actions">
          <div class="flex-spacer"></div>
          <router-link :id="'id_' + story.id"
                       class="btn btn-primary"
                       v-bind:to="'/story/' + story.id">
            Read
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    stories() { return this.$store.state.stories; }
  }
}
</script>