<style>
  .scene {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2px;
    display: flex;
    flex-direction: column;
    perspective: 600px;
  }
  .scene button,
  .scene a {
    float: right;
    clear: right;
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .scene button > *,
  .scene a > * {
    text-align: left;
    margin-right: 10px;
  }
  .scene button > *:last-child,
  .scene a > *:last-child {
    margin-right: 0px;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.7);
    clear: both;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  .content h1, .content h2 {
    width: 100%;
  }
  .content blockquote {
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    background: white;
    align-self: flex-start;
    position: relative;
    border: 4px solid #515e66;
    flex: 1 1 0;
  }
  .content blockquote:after, .content blockquote:before {
    right: 100%;
    top: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .content blockquote:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
  }
  .content blockquote:before {
    border-color: rgba(81, 94, 102, 0);
    border-right-color: #515e66;
    border-width: 16px;
    margin-top: -16px;
  }
  .content blockquote.right {
    order: -1
  }
  .content blockquote.right:after, .content blockquote.right:before {
    left: 100%;
  }
  .content blockquote.right:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
  }
  .content blockquote.right:before {
    border-color: rgba(81, 94, 102, 0);
    border-left-color: #515e66;
  }

  .content img {
    max-width: 20vmin;
    margin-right: 30px;
  }
  .content img.right {
    margin-left: 30px;
  }
  .content p.plain {
    flex: 0 0 auto;
  }
  .content p.left, .content p.right {
    flex: 1 1 0;
  }
  .content p.right {
    order: -1;
  }
  .choices {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .choices .choice {
    background: white;
    margin-top: 5px;
    padding: 10px;
  }
  .fade-enter-active, .fade-leave-active {
    transition: all 300ms;
    position: absolute;
  }
  .fade-enter {
    transform: translate3d(120vw, 15vw, 10px) rotate(15deg);
  }
  .fade-leave-to {
    transform: translate3d(-120vw, 15vw, 10px) rotate(-15deg);
  }
  .rewinders {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60vw;
    background: white;
    transform: translate3d(-60vw, 0, 0);
    z-index: 10;
    padding: 5px;
    display: flex;
    flex-direction: column;
    transition: 300ms transform;
  }
  .rewinders.open {
    transform: translate3d(0vw, 0, 0);
  }
  .padded {
    padding: 15px 5px;
  }
</style>

<template>
  <v-touch v-on:swiperight="handleSwipe"
           v-on:swipeleft="handleSwipe"
           class="scene"
           :style="{backgroundImage: 'url(' + scene.image + ')'}">
    <div class="rewinders" :class="{open: menuOpen}">
      <router-link class="btn btn-block btn-default" to="/">
        <span>Menu </span>
        <fa-icon icon="arrow-left"/>
      </router-link>
      <div class="padded">
        <i>Currently reading:</i>
        <p class="lead"><b>{{ story.meta.name }}</b></p>
        <!--<p>{{ story.meta.short_description }}</p>-->
      </div>
      <div class="padded">
        Sound: <button class="btn btn-lg btn-default"
                       v-on:click="handleTogglePlayAudio">
          <i v-if="playAudio" class="fa fa-volume-up"></i>
          <i v-if="!playAudio" class="fa fa-volume-off"></i>
        </button>
        <p class="text-muted">
        (Note: not all stories include audio)
        </p>
      </div>
      <div class="flex-spacer"></div>
      <button class="btn btn-block btn-default" v-on:click.prevent="handleRewind">
        <span>Rewind </span>
        <fa-icon icon="step-backward"/>
      </button>
      <button class="btn btn-block btn-danger" v-on:click.prevent="handleRestart">
        <span>Restart </span>
        <fa-icon icon="fast-backward" />
      </button>
    </div>
    <transition name="fade" v-if="content">
      <div class="content" :key="session.contentIdx" v-html="content.text"></div>
    </transition>
    <div class="flex-spacer"></div>
    <div class="choices">
      <div class="progressers">
        <button class="choice btn btn-default"
                v-on:click="handleNext"
                v-if="session.contentIdx < filteredContent.length - 1">
          <span>Next</span>
          <fa-icon icon="arrow-right"/>
        </button>

        <button class="choice"
            v-for="choice in filteredChoices"
            v-on:click="handleNextScene(choice)"
            v-if="session.contentIdx == filteredContent.length - 1">
          <span>{{ choice.text }}</span>
          <fa-icon icon="arrow-right"/>
        </button>

        <router-link class="choice btn btn-default"
                    to="/"
                    v-if="scene && scene.choices && scene.choices.length == 0 && session.contentIdx == filteredContent.length - 1">
          <span>Finish</span>
          <fa-icon icon="arrow-right"/>
        </router-link>
      </div>
    </div>
    <div>{{ audioList }}</div>
  </div>
</template>

<script>
import FaIcon from "./fa_icon.vue";

export default {
  name: "read-story",
  components: {FaIcon},
  mounted() {
    this.resetSession();
  },
  data() {
    let id = this.$route.params.id;
    return {
      menuOpen: false,
      currentAudio: null,
      session: this.$store.state.sessions[id] || {
        sceneId: null,
        contentIdx: 0,
        choices: [],
        tags: {}
      }
    };
  },
  computed: {
    stories() { return this.$store.state.stories; },
    id() {
      return parseInt(this.$route.params.id);
    },
    story() {
      return this.stories.filter((s) => s.id == this.id)[0];
    },
    playAudio() { return this.$store.state.playAudio; },
    scene() {
      if (! this.session.contentIdx) {
        this.session.contentIdx = 0;
      }
      let idx = this.session.sceneId;
      for(let scene of this.story.scenes) {
        if (scene.meta.id == idx) {
          return scene;
        }
      }
      return {notFound: true, idx: idx};
    },
    audioList() {
      // preload audio for the scene
      console.log("preloading audio");
      if (!this.scene.notFound) {
        this.scene.content.map((c) => {
          let audio = null;
          if (c.audio) {
            console.log(`${c.audio} loading...`);
            audio = new Audio();
            audio.oncanplay = function() {
              console.log(`${c.audio} loaded`);
            }
            audio.src = c.audio;
          }
          return audio;
        });
      }
    },
    filteredContent() {
      if (this.scene.content) {
        return this.scene.content.filter((c) => {
          return this.matchesTags(c.tags);
        });
      }
      return [];
    },
    filteredChoices() {
      if (this.scene && this.scene.choices) {
        return this.scene.choices.filter((c) => {
          return this.matchesTags(c.tags);
        });
      }
      return [];
    },
    content() {
      let idx = this.session.contentIdx;
      return this.filteredContent[idx];
    }
  },
  watch: {
    content() {
      if (this.currentAudio) {
        console.log(this.currentAudio);
        this.currentAudio.pause();
      }
      if (this.playAudio) {
        console.log("playing audio");
        if (this.content && this.content.audio) {
          console.log(this.content.audio);
          this.currentAudio = new Audio();
          this.currentAudio.oncanplay = () => {
            console.log("audio is ready");
            this.currentAudio.play();
          };
          this.currentAudio.src = this.content.audio;
        }
      }
    }
  },
  methods: {
    handleNext() {
      this.session.contentIdx += 1;
      this.menuOpen = false;
    },
    handleNextScene(choice) {
      this.session.sceneId = choice.next_scene;
      this.session.contentIdx = 0;

      this.session.choices.push(choice);

      let tags = this.session.tags;
      choice.consequences.forEach((c) => {
        tags[c.tag] = (tags[c.tag] || 0) + c.value;
      });
      this.session.tags = tags;

      this.saveSession();
      this.menuOpen = false;
    },
    handleSwipe(e) {
      if (e.type == "swipeleft") {
        this.menuOpen = false;
      } else {
        this.menuOpen = true;
      }
    },
    handleRewind() {
      // go back one content
      if ( this.session.contentIdx > 0) {
        this.session.contentIdx -= 1;
      } else {
        let choices = this.session.choices.length;
        if (choices > 1) {
          let choice = this.session.choices.pop();
          this.session.sceneId = this.session.choices[choices - 2].next_scene;
          this.session.contentIdx = this.filteredContent.length - 1;

          let tags = this.session.tags;
          choice.consequences.forEach((c) => {
            tags[c.tag] = (tags[c.tag] || 0) - c.value;
          });
          this.session.tags = tags;
        } else {
          console.warn("restarting");
          this.resetSession();
        }
      }

      this.saveSession();
    },
    handleRestart() {
      if (confirm("Are you sure? You'll loose all progress")) {
        this.resetSession();
        this.saveSession();
        this.menuOpen = false;
      }
    },
    matchesTags(tags) {
      let ptags = this.session.tags;
      let comparisons = {
          "=": (tag) => ptags[tag.tag] == tag.value,
          "==": (tag) => ptags[tag.tag] == tag.value,
          ">": (tag) => ptags[tag.tag] > tag.value,
          ">=": (tag) => ptags[tag.tag] >= tag.value,
          "<": (tag) => ptags[tag.tag] < tag.value,
          "<=": (tag) => ptags[tag.tag] <= tag.value,
          "!=": (tag) => ptags[tag.tag] != tag.value,
      };
      if (tags.length > 0) {
        return tags.filter((tag) => {
          let retval = comparisons[tag.comparison](tag);
          return retval;
        }).length == tags.length;
      }
      return true;
    },
    resetSession() {
      this.session = {
        sceneId: this.story.meta.start,
        contentIdx: 0,
        choices: [],
        tags: {}
      };
    },
    saveSession() {
      this.$store.commit("resetKey", {
        name: "sessions",
        key: this.id,
        data: this.session
      });
      this.put("sessions", this.$store.state.sessions);
    },
    handleTogglePlayAudio() {
      let value = ! this.playAudio;
      if (! value) {
        this.currentAudio.pause();
        this.currentAudio = null;
      }
      this.$store.commit("reset", {name: "playAudio", data: value});
      this.put("playAudio", value);
    }
  }
}
</script>