<style>
  div[drawer] {
    display: none;
  }
  div[main] {
    min-height: 100vh;
  }
</style>

<template>
  <div id="app">
    <div drawer>
      <div class="options">
        <a href="#" tabindex="-1">
          <button>
            <fa-icon icon="back"></iron-icon>
            Return to story list
          </button>
        </a>
        <button id="fast-forward-btn">
          Fast forward
          <fa-icon icon="fast-forward"></iron-icon>
        </button>
        <button id="restartBtn">Restart Story</button>
        <!-- <button raised id="backBtn">Back</button> -->
      </div>
    </div>
    <div main>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import ChooseStory from "./components/choose_story.vue";
import FaIcon from "./components/fa_icon.vue";

export default {
  name: 'app',
  components: {
    ChooseStory,
    FaIcon
  },
  data () {
    return {
    }
  },
  mounted() {
    window.app = this;
  }
}
</script>
<!--<script>
  window.addEventListener('WebComponentsReady', function(e) {
    var ffbtn = document.querySelector("#fast-forward-btn");
    var story = document.querySelector("#story");
    var restart = document.querySelector("#restartBtn");
    var collection = document.querySelector("rest-collection");

    if (! collection.data) {
      collection.fallback = window.fallback;
    }

    restart.addEventListener("click", function() {
      if (confirm("You will lose all progress, are you sure you want to restart the story?")) {
        story.restart();
      }
      document.querySelector("paper-drawer-panel").closeDrawer();
    });

    ffbtn.addEventListener("click", function() {
      window.dispatchEvent(new CustomEvent("story:fast-forward"));
      document.querySelector("paper-drawer-panel").closeDrawer();
    });
  });
</script>-->